 * {
     font-family: "Poppins", sans-serif;

 }

 .btn {
     padding: 14px 35px;
     font-size: 17px;
     line-height: 28px;
     font-weight: 500;
     border-radius: 8px;
     border: none;
     color: black;
     background-color: #ff375f !important;
     margin-top: 2%;
     outline: none;
 }

 .btn:hover {
     background-color: #ff2652 !important;
     color: #fff;
 }

 #carouselExampleAutoplaying #btncrousel {
     height: 15px;
     width: 15px;
     border-radius: 100%;

 }

 .carousel-caption {
     bottom: 150px;
     /* color: white; */
 }

 .heading {
     font-size: 3.5rem;
 }

 .para {
     margin-top: 3%;
 }

 .carousel-indicators {
     margin-bottom: 3rem;
 }

 .carousel-item img {
     object-fit: cover;
 }

 .mynavbar {
     height: 90px;
 }


 .navlinkbar {
     font-size: 14px;
     font-weight: 600;
     color: black;
 }

 .navdiv {
     margin-left: 3%;
 }

 .mylogo {
     margin-left: 11%;
     color: #ec1944 !important;
     font-size: 28px;
     font-weight: 700;
     font-family: "Poppins", sans-serif;
 }

 .activehome {
     color: #ec1944 !important;
 }

 .bloglink:hover {
     color: #ec1944;
 }

 .pageslink:hover {
     color: #ec1944;
 }

 .aboutlink:hover {
     color: #ec1944;
 }

 .contactlink:hover {
     color: #ec1944 !important;
 }

 .aboutlink {
     margin-left: 15%;
 }

 .bloglink {
     margin-left: 15%;
 }

 .pageslink {
     margin-left: 15%;
 }

 .contactlink {
     margin-left: 15%;
 }

 .carousel-indicators [data-bs-target] {
     background-color: #fff;
     /* normal dot color */
     width: 15px;
     height: 15px;
     border-radius: 50%;
 }

 .carousel-indicators .active {
     background-color: #ec1944;
     /* active dot color */
 }

 .pageslist {
     font-weight: 600;
 }

 .bloglist {
     font-weight: 600;
 }

 .pageslist:hover {
     color: #ec1944;
 }

 .bloglist:hover {
     color: #ec1944;
 }

 button span {
     color: white;

     background-color: #ec1944;
     padding: 10px 0;
     /*25px*/
     padding-left: 10px;
     padding-right: 28px;
     border-radius: 5px;


 }

 .navbar-toggler {
     border: none;
 }

 .navbar-toggler:focus {
     box-shadow: none !important;
 }

 .ctn {
     margin-top: 5% !important;
 }

 .titleofsection1 {
     font-size: 14px;
     font-weight: 600;
     color: #ec1944;
     padding-left: 65px;
     line-height: 22px;
     margin-bottom: 16px;
     position: relative;
     text-align: center;
 }

 .titleofsection1::after {
     content: "";
     position: absolute;
     border: 0;
     width: 50px;
     height: 1px;
     background: #ec1944;
     z-index: 1;
     margin-left: 46%;
     left: 0;
     top: 12px;
 }

 .h3ofsection1 {
     font-size: 40px;
     line-height: 50px;
     font-weight: 700;
     margin-right: 10%;
     margin-left: 15%;
     color: black;
 }

 .icon {
     width: 120px;
     height: 120px;
     border-radius: 50%;
     background: #f5f1f2;
     text-align: center;
     margin: 0 auto;
     margin-left: 5%;
 }
 .icon:hover{
                background-color: #ec1944;
 }

 .iconscontent {
     margin-left: 15% !important;
     margin-top: 5% !important;
     margin-bottom: 3% !important;
 }

 .iconscontent h3 {
     font-size: 24px !important;
     font-weight: 700 !important;
     margin: 24px 0px 6px 0px !important;
     color: black;

 }

 .iconscontent p {
     color: black;
 }

 .iconscontent a {
     text-decoration: none;
     color: black;
     font-weight: 700;
     font-size: 16px;

 }

 .iconscontent a:hover {
     color: #ec1944;
 }

 .iconscontent a img {
     width: 35px;
     height: 35px;
     line-height: 28px;
     color: #fff;
     background: #ec1944;
     border-radius: 50%;
     margin-left: 3%;
 }

 .activeicon {
     background-color: #ec1944;
 }

 .ruler {

     font-size: 50px;
     line-height: 120px;
     color: #ec1944;
 }
  .ruler:hover{
              color: #fff;
 }
 .signlg{
               font-size: 50px;
     line-height: 120px;
     color: #fff;
 }
.activesignlg{
             background-color: #ec1944;
}

.chairicon{
                  font-size: 50px;
     line-height: 120px;
     color: #ec1944;
}
.chairicon:hover{
            color: #fff;
}
.rightarr{
             width: 28px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background: #ec1944;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    margin-left: 2%;
}
 /*RESPONSIVE*/

 /* For Tablets & Medium Screens */
 @media (min-width:769px) and (max-width: 1199px) {

     .carousel-caption {
         bottom: 215px;
         display: block !important;
     }

     .heading {
         font-size: 2.5rem;
     }

     .para {
         font-size: 14px;
     }

     .btn {
         padding: 10px 25px;
         font-size: 15px;
     }

     .navbar-brand {
         font-size: 22px;
     }

     .navlinkbar {
         margin-left: 0;
     }

     .mynavbar {
         height: auto;
         padding: 10px 0;
     }
     .titleofsection1{
              padding-left: 90px;
     }
 }

 /* Mobile Screens */
 @media (max-width: 768px) {

     .carousel-item img {
         height: 500px;
         object-fit: cover;
     }

     .carousel-caption {
         bottom: 80px;
         display: block !important;
     }

     .carousel-caption h2 {
         bottom: 117px;


     }

     .heading {
         font-size: 2rem;
         line-height: 40px;
     }

     .para {
         font-size: 14px;
     }

     .btn {
         padding: 15px 32px;
         font-size: 18px;
     }

     /* Navigation Fix */
     .mynavbar {
         height: auto;
         padding: 10px 0;
     }

     .mylogo {
         margin-left: 0;
     }

     .navdiv {
         margin-left: 0;
     }

     .navlinkbar {
         margin-left: 0;
         text-align: center;
         padding: 10px 0;
     }

     .bloglist {
         text-align: center;
     }

     .pageslist {
         text-align: center;
     }

     .titleofsection1::after {
         margin-left: 39% !important;
     }

     .h3ofsection1 {
         font-size: 24px;
         line-height: 45px;
         font-weight: 700;
         color: black;
     }

     .iconscontent {
         flex-direction: column !important;
     }

     .icon {
         margin-top: 5%;
     }
       .titleofsection1{
              padding-left: 35px;
     }
 }